<!DOCTYPE html>
    {% extends "headline.html"%}
<head>
    <title>浙地珠宝</title>
    <!-- Custom styles for this template -->
    {% load staticfiles %}
    <link href="{% static "Off Canvas Template for Bootstrap_files/offcanvas.css" %}" rel="stylesheet">-->
</head>
 {% block body %}
  <body>
    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-8 col-sm-12">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1 style="padding-left: 200px ">欢迎来到，浙地珠宝</h1>

          </div>
          <div class="row">
            <div class="col-xs-6 col-lg-4 ">
              <h2>裸钻</h2>
                <p>麦考瑞大学光子学研究中心副教授理查德-米德伦和同事经研究发现，钻石暴露在光照条件下会蒸发。米德伦说：“一些物质都有光照导致的蒸发现象， 观察到钻石也有这种现象还是第一次。”当暴露在强紫外-C线(臭氧层过滤后的强紫外线)条件下，钻石表面的小凹坑会在短短几秒钟内消失。钻石质量损失的速度随着光线强度的降低快速降低，但蚀刻过程仍然继续，只是速度越来越慢。</p>
              <p><a class="btn btn-default" href="/Diomand"  role="button"><span class="glyphicon-scissors"></span>购买 </a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              <h2>钻饰</h2>
              <p>麦考瑞大学光子学研究中心副教授理查德-米德伦和同事经研究发现，钻石暴露在光照条件下会蒸发。米德伦说：“一些物质都有光照导致的蒸发现象， 观察到钻石也有这种现象还是第一次。”当暴露在强紫外-C线(臭氧层过滤后的强紫外线)条件下，钻石表面的小凹坑会在短短几秒钟内消失。钻石质量损失的速度随着光线强度的降低快速降低，但蚀刻过程仍然继续，只是速度越来越慢。</p>
              <p><a class="btn btn-default" href="/Diomand"  role="button"><span class="glyphicon-scissors"></span>购买 </a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              <h2>翡翠</h2>
              <p>麦考瑞大学光子学研究中心副教授理查德-米德伦和同事经研究发现，钻石暴露在光照条件下会蒸发。米德伦说：“一些物质都有光照导致的蒸发现象， 观察到钻石也有这种现象还是第一次。”当暴露在强紫外-C线(臭氧层过滤后的强紫外线)条件下，钻石表面的小凹坑会在短短几秒钟内消失。钻石质量损失的速度随着光线强度的降低快速降低，但蚀刻过程仍然继续，只是速度越来越慢。</p>
              <p><a class="btn btn-default" href="/Diomand"  role="button"><span class="glyphicon-scissors"></span>购买 </a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              <h2>素金</h2>
              <p>麦考瑞大学光子学研究中心副教授理查德-米德伦和同事经研究发现，钻石暴露在光照条件下会蒸发。米德伦说：“一些物质都有光照导致的蒸发现象， 观察到钻石也有这种现象还是第一次。”当暴露在强紫外-C线(臭氧层过滤后的强紫外线)条件下，钻石表面的小凹坑会在短短几秒钟内消失。钻石质量损失的速度随着光线强度的降低快速降低，但蚀刻过程仍然继续，只是速度越来越慢。</p>
              <p><a class="btn btn-default" href="/Diomand"  role="button"><span class="glyphicon-scissors"></span>购买 </a>></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              <h2>琥珀蜜蜡</h2>
              <p>麦考瑞大学光子学研究中心副教授理查德-米德伦和同事经研究发现，钻石暴露在光照条件下会蒸发。米德伦说：“一些物质都有光照导致的蒸发现象， 观察到钻石也有这种现象还是第一次。”当暴露在强紫外-C线(臭氧层过滤后的强紫外线)条件下，钻石表面的小凹坑会在短短几秒钟内消失。钻石质量损失的速度随着光线强度的降低快速降低，但蚀刻过程仍然继续，只是速度越来越慢。</p>
              <p><a class="btn btn-default" href="/Diomand"  role="button"><span class="glyphicon-scissors"></span>购买 </a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              <h2>观赏石</h2>
              <p>麦考瑞大学光子学研究中心副教授理查德-米德伦和同事经研究发现，钻石暴露在光照条件下会蒸发。米德伦说：“一些物质都有光照导致的蒸发现象， 观察到钻石也有这种现象还是第一次。”当暴露在强紫外-C线(臭氧层过滤后的强紫外线)条件下，钻石表面的小凹坑会在短短几秒钟内消失。钻石质量损失的速度随着光线强度的降低快速降低，但蚀刻过程仍然继续，只是速度越来越慢。</p>
              <p><a class="btn btn-default" href="/Diomand"  role="button"><span class="glyphicon-scissors"></span>购买 </a></p>
            </div><!--/.col-xs-6.col-lg-4-->
          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->
         {% endblock %}