<!DOCTYPE html>
{% extends "headline.html"%}gw
{% block body%}
    <form action="/home" method="post" >
        <div style="padding-left: 200px; padding-right: 600px ">
    <label for="name">订单编号</label>
    <input type="text" class="form-control" placeholder="id"><br>
    <label for="ID">客户邮箱</label>
     <input type="email" class="form-control" placeholder="email"><br>
     <label for="ordername">订单名称</label>
        <input type="text" class="form-control" placeholder="name"><br>
      <label>交货日期</label>
      <input type="date" class="form-control" placeholder="date"><br>
       <label for="name">商品描述</label>
    <textarea class="form-control" rows="3"></textarea><br>
    </div>
        <div style="padding-left: 200px">
    <button type="submit" class="btn btn-navbar" value="subnir" >tijiao</button>
        </div>
    </form>
{% endblock %}